# Compiler files
cache/
out/
lib/
!cache/.gitkeep
!out/.gitkeep
!lib/.gitkeep
bin/
.gas-snapshot

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.password
